<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBConnect</servlet-name>
        <servlet-class>common.DBConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>noithatServlet</servlet-name>
        <servlet-class>controller.noithatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sanphamServlet</servlet-name>
        <servlet-class>controller.sanphamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>controller.uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>khoServlet</servlet-name>
        <servlet-class>controller.khoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uuploadServlet</servlet-name>
        <servlet-class>controller.uuploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnect</servlet-name>
        <url-pattern>/DBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>noithatServlet</servlet-name>
        <url-pattern>/noithatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sanphamServlet</servlet-name>
        <url-pattern>/sanphamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>khoServlet</servlet-name>
        <url-pattern>/khoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uuploadServlet</servlet-name>
        <url-pattern>/uuploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
